.card{
    display: flex;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightblue;
}
.card img{
    padding-right: 10px;
}

.card-text{
    padding: 10px;

}

.card-button{
    padding: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.card-button:hover{
    background-color: #000000;
    color: white;
}

.card p{
    color: #606060;
}

