.scroll-up-button{
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: white;
    border: none;
    background-color: #f9bf04;

}

.scroll-up-button:hover{
    transform: scale(1.1);
    background-color: #000000;
    cursor: pointer;
    transition-duration: 0.5ms;
}